.landing-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1a202c;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  width: 100%;             /* Tells it to take the full browser width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;        /* Adds internal spacing so logo isn't touching the edge */
  box-sizing: border-box;  /* Ensures padding doesn't push width over 100% */
  
/* The "Separation" Design */
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  backdrop-filter: blur(10px);          /* Frosted glass effect */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Subtle bottom line */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15); /* Soft shadow */
  
  /* Position it correctly */
  position: fixed;      
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.btn-user, .btn-owner {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.nav-buttons {
  display: flex;
  gap: 20px; /* Space between buttons */
}

.btn-user {
  background-color: #232324; /* Blue */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-owner {
  background-color: #e9e9e9; /* Very light gray */
  color: #1b1b1c;
  border: 1px solid #dae3f0;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.btn-user:hover {
  background-color: #aeb0bd;
  transform: scale(1.06);
  box-shadow: 5px 5px 5px  #89898c;
}

.btn-owner:hover {
  background-color: #aeb0bd;
  transform: scale(1.06);
  box-shadow: 5px 5px 5px  #89898c;
}

.hero-section {
  margin-top: 40px; /* Seperates text from Navbar */
  padding: 60px 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 15px;
}

.hero-section p {
  color: #718096;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.main-hero-image {
  width: 100%;
  border-radius: 30px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}